
html, body {
    height:100%;
    background-color: blanchedalmond;
} 

nav {
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

:root .subPage > h1 {
    font-size: 3em;
}

:root .subPage > h2 {
    font-size: 2em;
}