---
import BaseLayout from '../layouts/BaseLayout.astro';
const content = {
    title: 'About',
}
---
<BaseLayout content={content}>
    <div class="subPage px-72 pt-10">
        <h1 class="text-center">About</h1>
        <p>The problem is that the Southwest is running out of water. Tucson is in the midst of a 27 year drought. Our main source of water, the Colorado River, is diminishing as more states experience drought due to climate change and population growth. Fortunately, Tucson is known for our water conservation.  The City of Tucson is implementing a green infrastructure plan to use stormwater to irrigate native trees. Some Tucsonans save city water by irrigating the native and drought-tolerant plants in our landscapes with rainwater harvesting.  There is actually enough rainwater to provide for every Tucsonan's needs if we all did rainwater harvesting. But less than 1% are taking advantage of this opportunity. Many haven’t even heard of rainwater harvesting.
        </p>
        <br>

        <p>
        To complicate matters, we are currently experiencing a housing boom. According to the Census Bureau, the population of Pima County will grow by 200,000 by 2050. New residents from non-arid states are bringing with them landscaping and gardening practices that aren’t sustainable in our desert.  Many of these new residents know little about our water issues or living in harmony with our desert. The first thing some want to do when they get here is plant a lawn or put in a swimming pool. 
        </p>
        <br>

        <p>
        Our solution is to have realtors direct new house owners to our "Green Welcome Package" - a colorful magazine style website that shares the joys of living in Tucson and how to thrive in our desert town - including sustainable desert living techniques like rainwater harvesting and desert gardening.
        </p>
    </div>
</BaseLayout>