---
import BaseLayout from '../layouts/BaseLayout.astro';
const content = {
    title: 'Upcoming Events',
}
---
<BaseLayout content={content}>
    <div class="subPage px-72 pt-10">
        <h1 class="text-center">Upcoming Events</h1>
        <p>More to come!</p>
    </div>
</BaseLayout>