---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroContainer from '../components/HeroContainer.astro';
import CardPairSection from '../components/CardPairSection.astro';
const content = {
    title: 'Green Welcome Package',
}

---
<BaseLayout content={content}>
    <HeroContainer />
    <CardPairSection>
        <img slot="content-left" class="w-full" src="images/uploads/house1_small.jpg" alt="small rainwater harvesting home setup">
        <div slot="content-right" class="w-1/2">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Green Infrastructure</h2>
            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Blend beauty with practicality</h1>
            <p class="leading-relaxed mb-3">Tucson is positioning itself to be a leader of the Southwest US in Green Infrastructure through efforts from rainwater harvesting to solar incentives.</p>
            <div class="flex items-center flex-wrap ">
                <a href="green-infrastructure" class="bg-green-600 hover:scale-105  shadow-cla-blue px-4 py-1 rounded-lg">Learn more</a>
            </div>
        </div>
    </CardPairSection>
    <CardPairSection>
        <div slot="content-left" class="w-1/2 justify-items-end text-right translate-x-full">
            <div >
                <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Outdoors</h2>
                <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Enjoy many outdoor options</h1>
                <p class="leading-relaxed mb-3">Whether it’s biking through the mountains, biking through the loop, or hiking there’s always a new place to explore!</p>
                <button class="bg-green-600 hover:scale-105  shadow-cla-blue px-4 py-1 rounded-lg items-end">Learn more</button>
            </div>
            
        </div>
        <img slot="content-right" class="w-full" src="images/uploads/cropped-bike1.jpg" alt="biker in desert">
    </CardPairSection>
    <CardPairSection>
        <img slot="content-left" class="w-full" src="images/uploads/Bruce-Stanleys-oasis-with-cistern.jpg" alt="cistern">
        <div slot="content-right" class="w-1/2">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Gastronomy</h2>
            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">UNESCO named Tucson a City of Gastronomy</h1>
            <p class="leading-relaxed mb-3">Tucson has the longest agricultural history of any city in the United States of America, dating back over 4000 years.</p>
            <div class="flex items-center flex-wrap ">
                <button class="bg-green-600 hover:scale-105  shadow-cla-blue px-4 py-1 rounded-lg">Learn more</button>
            </div>
        </div>
    </CardPairSection>
    <CardPairSection>
        <div slot="content-left" class="w-1/2 justify-items-end text-right translate-x-full">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Arts</h2>
            <h1 class="title-font text-lg font-medium text-gray-600 mb-3">Experience a variety of art forms</h1>
            <p class="leading-relaxed mb-3">From museums, galleries, music venues, and much more.</p>
            <button class="bg-green-600 hover:scale-105  shadow-cla-blue px-4 py-1 rounded-lg">Learn more</button>
        </div>
        <img slot="content-right" class="w-full" src="images/uploads/sculpture1_small.jpg" alt="metal sculpture">
    </CardPairSection>
</BaseLayout>   