---
import BaseLayout from '../layouts/BaseLayout.astro';
const content = {
    title: 'Green Welcome Package',
}
---
<BaseLayout content={content}>
    <h1 class='text-red-500'>Green Welcome Package</h1>
</BaseLayout>