---
import BaseLayout from '../layouts/BaseLayout.astro';
const content = {
    title: 'Resources',
}
---
<BaseLayout content={content}>
    <div class="subPage px-72 pt-10 text-center">
        <h1 class="text-center">Resources</h1>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://www.harvestingrainwater.com/">Rainwater Harvesting for Drylands and Beyond</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://www.wildyardsproject.com/">Wild Yards Project</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://tucsonaudubon.org/our-work/conserving-birds/habitat-at-home/">Tucson Audubon Habitat at Home</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://watershedmg.org/learn/resource-library">Watershed Management Group</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="http://www.desertharvesters.org/">Desert Harvesters</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="http://www.iskashitaa.org/">Iskashitaa Refugee Network </a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="mailto:seri@seriaz.org">Sonora Environmental Research Institute</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://wateruseitwisely.com/">Water Use It Wisely </a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://www.spadefootnursery.com/">Spadefoot Nursery </a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://www.communityfoodbank.org/Our-Work/Programs/Nuestra-Tierra">Nuestra Tierra Garden</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://www.missiongarden.org/">Mission Garden</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://tucson.cityofgastronomy.org/about">Tucson City Gastronomy</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://www.tucsonaz.gov/water/rainwater-harvesting-rebate">Tucson Water Rainwater Harvesting Rebate</a><br>
        <a class="text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://wrrc.arizona.edu/sites/wrrc.arizona.edu/files/WMG_Green%20Infrastructure%20for%20Southwestern%20Neighborhoods.pdf">Green Infrastructure for Southwestern neighborhoods</a><br>
    </div>
</BaseLayout>