---
const {content} = Astro.props;
---
<div class="relative max-w-full mx-auto px-40 py-2">
    <div class="flex flex-row flex-wrap w-full">
        <div class="md:w-1/2 w-1/2 p-4">
            <slot name="content-left" />
        </div>
        <div class="md:w-1/2 w-1/2 p-4">
            <slot name="content-right" />
        </div>
    </div>
</div>