---

---
<div class="flex items-center justify-center w-full h-screen object-cover bg-gray-900 bg-opacity-50" style="background-image: url(images/uploads/20170211_174638_low-scaled.jpg); background-size: cover; background-repeat: no-repeat; width: 100%; height: 100%; background-position: center; background-size: cover; background-blend-mode: darken;">
    <div class="text-center w-full py-80" style="height: 100%;">
        <h1 class="text-2xl font-semibold text-white uppercase lg:text-6xl ">Tucson</h1>
        <h2 class="font-semibold text-white pb-4">the Desert Oasis</h2>
        <a href="contact" class="w-full px-4 py-2 mt-4 text-sm font-medium text-white uppercase transition-colors duration-200 transform bg-blue-400 rounded-md lg:w-auto hover:bg-blue-300 focus:outline-none focus:bg-blue-200">Stay in Touch</a>
    </div>
</div>