<div class="bg-gray-100 font-sans w-full m-0 z-10 shadow">
    <div class="bg-white z-10">
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-between py-4">
                <div>
                    <a href="/" class="w-10 h-10 text-green-600">Green Welcome Package</a>
                </div>
                <div class="hidden sm:flex sm:items-center">
                    <a href="/" class="text-gray-800 text-sm font-semibold hover:text-green-600 mr-4">Home</a>
                    <a href="/blog" class="text-gray-800 text-sm font-semibold hover:text-green-600 mr-4">Blog</a>
                    <a href="/events" class="text-gray-800 text-sm font-semibold hover:text-green-600 mr-4">Events</a>
                    <a href="/about" class="text-gray-800 text-sm font-semibold hover:text-green-600 mr-4">About</a>
                    <a href="/resources" class="text-gray-800 text-sm font-semibold hover:text-green-600 mr-4">Resources</a>
                    <a href="/contact" class="text-gray-800 text-sm font-semibold hover:text-green-600">Contact Us</a>
                </div>
            </div>
            
            <div class="block sm:hidden bg-white border-t-2 py-2">
                <div class="flex flex-col">
                    <a href="/" class="text-gray-800 text-sm font-semibold hover:text-green-600 mb-1">Home</a>
                    <a href="/blog" class="text-gray-800 text-sm font-semibold hover:text-green-600 mb-1">Blog</a>
                    <a href="/events" class="text-gray-800 text-sm font-semibold hover:text-green-600 mb-1">Events</a>
                    <a href="/about" class="text-gray-800 text-sm font-semibold hover:text-green-600 mb-1">About</a>
                    <a href="/resources" class="text-gray-800 text-sm font-semibold hover:text-green-600 mb-1">Resources</a>
                    <a href="/contact" class="text-gray-800 text-sm font-semibold hover:text-green-600 mb-1">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>