---
import '../styles/style.css';
import Navbar from '../components/Navbar.astro';
const {content} = Astro.props;

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{content.title}</title>
    <script is:inline type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head> 
<body>
    <Navbar />
    <article>
        <slot />
    </article>
</body>
</html>