---
import BaseLayout from './BaseLayout.astro';
const {content} = Astro.props;
---
<BaseLayout content={content}>
    <div class="px-72 pt-10">
        <h1>{content.title}</h1>
        <h2>Author: {content.author}</h2>
        <slot />
    </div> 
</BaseLayout>