---
import BaseLayout from './BaseLayout.astro';
import { Markdown } from 'astro/components';

// 
const {content} = Astro.props;
---
<BaseLayout content={content}>
    <div class="px-72 pt-10 blogPost">
        <h1>{content.title}</h1>
        <small>Author: {content.author}</small>
        <!-- <Markdown> -->
            <slot />
        <!-- </Markdown> -->
        
    </div> 
</BaseLayout>
