---
import BaseLayout from './BaseLayout.astro';
import { Markdown } from 'astro/components';

// 
const {content} = Astro.props;
---

<style is:global>

:root .blog-post h1 {
    font-size: 3em;
}

:root .blog-post h2 {
    font-size: 2em;
}
</style>
<BaseLayout content={content}>
    <div class="px-72 pt-10 blog-post">
        <h1>{content.title}</h1>
        <small>Author: {content.author}</small>
        <!-- <Markdown> -->
            <slot />
        <!-- </Markdown> -->
        
    </div> 
</BaseLayout>
